@import "fonts.css";

main{
  max-width: 1020px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

/*--------------------------------------------------------------------*/
                          /* header block */
/*--------------------------------------------------------------------*/

header{
  height: 89px;
  background-color: #2d303a;
  display: flex;
  border-bottom-width: 6px;
  border-bottom-style: solid; 
  border-bottom-color: #323746;
  font-family: Lato Light;
}

h1{
  display: inline-block;
  margin-top: 30px;
  margin-left: 45px;
  font-size: 25px;
  cursor: pointer;
  color: #ffffff;
  font-stretch: condensed;
  font-weight: 800;
}

span{
  color: #f06c64;
  font-size: 25px;
  margin-top: 23px;
}

.navigation{
  font-size: 12px;
  margin-left: 430px;
  margin-top: 42px;
}

.link{
  color: #ffffff;
  text-decoration: none;
}

a:hover{
  color: #f06c64; 
}

.breadcrumbs {
  margin: 0; 
  padding: 0; 
}

.breadcrumbs li{
  display: inline-block;
}

.breadcrumbs li::before {
  content: "\30FB";
  color: #494e62;
  margin-left: 6px;
  margin-right: 9px; 
}

.breadcrumbs li:first-child::before {
  content: ''; 
}

/*--------------------------------------------------------------------*/
                          /* slider block */
/*--------------------------------------------------------------------*/

.container{
  display: flex;
}

.image{
  height: 600px;
  background-color: #f06c64;
  display: flex;
  border-bottom-width: 6px;
  border-bottom-style: solid; 
  border-bottom-color: #ea676b;
}

.arrow{
  margin-left: 30px;
  width: 45px;
  height: 45px;
  margin-top: 280px;
  right:80px;
  cursor: pointer;
}

.verphone{
  margin-left: 45px;
  margin-top: 55px;
  width: 250px;
  height: 490px;
}

.gorphone{
  margin-left: 40px;
  margin-top: 160px;
  width: 510px;
  height: 270px;
}

/*--------------------------------------------------------------------*/
                          /* services block */
/*--------------------------------------------------------------------*/

.Our_Services{
  height: 460px;
  background-color: #f2f2f2;
  border-bottom-width: 6px;
  border-bottom-style: solid; 
  border-bottom-color: #ffffff;
}

h2{
  color: #666d89;
  font-size: 28px;
  font-family: Lato Bold;
  margin-top: 60px;
  margin-left: 45px;
  letter-spacing: 1px;
}

.annotation{
  margin: 15px 50px 0px 45px;
  color: #767e9e;
  font-size: 17px;
  font-family: Lato Light;
  word-spacing: 1px;
  line-height: 2em;
}

.servicesContainer {
  margin: 26px 20px 0px 35px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
}

.servicesBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-start;
  width: 315px;
  height: 125px;
}

.blockWrapper{
  text-align: justify;
  width: 220px;
  height: 80px;
}

.icon{
  width: 60px;
  height: 60px;
  float:left;
  margin: 23px 17px 7px 14px;
}

h3{
  color: #666d89;
  letter-spacing: 1px;
  font-size: 18px;
  word-spacing: 0.1px;
  font-family: Lato Regular;
  margin-bottom: 10px;
}

p{
  text-align: justify;
  color: #767e9e;
  font-family: Lato Light;
  font-size: 12px;
  line-height: 2em;
  margin-top: 9px;
}
